@font-face {
  font-family: circularStd;
  src: url("../src/assets/circular-std-medium-500.ttf");
}

* {
  font-family: circularStd;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  width: 100vw;
}

a {
  text-decoration: none;
}

