@font-face {
  font-family: circularStd;
  src: url("../src/assets/circular-std-medium-500.ttf");
}

* {
  font-family: circularStd, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .30s all ease-in-out;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #091e42;
  font-weight: 700;
}

p {
  color: #5e6c84;
  font-weight: 450;
}

button {
  cursor: pointer;
}

.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
