.dashboard {
  width: 100%;
  position: relative;
}

.dashboard-nav {
  width: 100%;
  box-shadow: 0px 2px 6px rgba(193, 199, 208, 0.4);
  background-color: #ffffff;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: relative;
}

.dashboard-nav .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 95%;
}

.dashboard-nav .nav .left {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.dashboard-nav .nav .right img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.dashboard-nav .nav .right {
  margin-left: 10px;
}

.dashboard-menu-icon {
  margin-right: 22.69px;
}

.db-logo {
  margin-right: 16.43px;
}

.seperator {
  width: 1px;
  height: 24px;
  background-color: #c1c7d0;
  margin-right: 16px;
}

.type {
  font-weight: 450;
  font-size: 16px;
}

.db-body {
  padding: 0 0 0 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting {
  margin: 0 0 64px 0;
}

.greeting h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 16px;
}

.tasks-div h2 {
  color: #172b4d;
  font-size: 24px;
  margin-bottom: 8px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 744px;
  height: 80px;
  border: 1px solid #dddddd;
  border-radius: 1px;
  background-color: #ffffff;
  margin: 8px 0px;
  padding: 0 24px;
}

.task-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 32px;
  height: 32px;
  border: 1px solid #dddddd;
  background: #f3f3f3;
  border-radius: 50%;
  padding-right: 18px;
}

.resume-btn {
  padding: 6px 12px;
  background: rgba(9, 30, 66, 0.04);
  border-radius: 3px;
  border: none;
  color: #42526e;
  font-weight: 500;
  font-size: 14px;
}

.begin-btn {
  padding: 6px 12px;
  background-color: transparent;
  border-radius: 3px;
  border: none;
  color: #0052cc;
  font-weight: 500;
  font-size: 14px;
}

.task p {
  font-weight: 500;
  font-size: 14px;
  color: #222222;
  padding-left: 18px;
}

/* Dropdown */
.db-dropdown {
  width: 90%;
  max-width: 300px;
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2),
    0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 3px;
  position: absolute;
  top: -220px;
  right: 2%;
  padding-bottom: 20px;
  transition: .4s all ease-out;
  z-index: 899;
}

.db-dropdown.db-dropdown-active {
  transition: .40s all ease-in;
  top: 74px;
}

.db-dropdown > .dd-div {
  padding: 28px 20px 0 20px;
}

.db-dropdown h2,
.db-dropdown p {
  font-weight: bold;
  font-size: 12px;
  color: #6b778c;
  padding-bottom: 16px;
}

.db-dropdown h3 {
  font-weight: 450;
  font-size: 14px;
  color: #172b4d;
  margin-bottom: 28px;
}

.t-icon,
.e-icon {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.t-icon {
  background: #5243aa;
}

.e-icon {
  background: #0052cc;
}

.talent-manager > div,
.employee > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.talent-manager,
.employee {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.employee .blue-check {
  display: none;
}

.profile-text {
  font-weight: 450;
  font-size: 14px;
  color: #344563;
}

.dd-seperator {
  position: static;
  height: 2px;
  width: 100%;
  background: #dfe1e6;
  margin-bottom: 16px;
}

.logout {
  padding-left: 20px;
  color: #172b4d;
  font-weight: 450;
  font-size: 14px;
}

.dd {
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .db-body {
    padding: 0 0 0 3%;
  }

  .task {
    width: 95%;
    height: 80px;
  }

  .greeting h1 {
    font-size: 28px;
  }

  .tasks-div h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 548px) {
  .circle {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 420px) {
  .type {
    font-size: 12px;
  }
  .db-logo {
    width: 7rem;
  }
}
